<div id="container">
    <mat-card>
      <h1>Agenda de contactos</h1>
      <form (submit)="onSubmit(); $event.preventDefault()" class="flex-column">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="given-name" type="text" id="firstName" [formField]="registerForm.firstName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput autocomplete="family-name" type="text" id="lastName" [formField]="registerForm.lastName">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Correo electrónico</mat-label>
          <input matInput autocomplete="email" type="email" id="email" [formField]="registerForm.email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput autocomplete="new-password" type="password" id="password" [formField]="registerForm.password">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Reescribí la contraseña</mat-label>
          <input matInput type="password" id="password2" [formField]="registerForm.password2">
          @if(registerForm.password2().errors().length){
            <mat-error>
              {{ registerForm.password2().errors()[0].message }}
            </mat-error>
          }
        </mat-form-field>
        <button mat-button type="submit" [disabled]="registerForm().invalid()">Registrarse</button>
        <p>¿Ya tenés cuenta? <a [routerLink]="['/login']">Iniciá sesión</a>.</p>
      </form>
    </mat-card>
</div>